.breakpoint{
    background-image: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    height: 37px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 67px;
    width: 100%;
    position: absolute;
    background-color: #0000007a;
    top: 37px;
    z-index: 4;
    transition: 0.4s;

    &_logo{
        &:hover{
            scale: 1.03;
        }
    }

    &_bar{
        & ul{
            display: flex;
            flex-direction: row;
            & li{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                list-style-type: none;
                min-width: 101px;
                height: 27px;
                color: #848895;
                // cursor: pointer;
                transition: 0.4s;
                text-decoration: none;
                & b{
                    color: white;
                    font-weight: normal;
                }
                &:hover{
                    color: #fafafa;
                }
            }
        }
    }
}