@media screen and (max-width: 880px){
    .com{


        &-made{
            &-c{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-gap: 16px;
            }
        }
    }

    .build{
        &-div{
            &-grids{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                margin: auto;

            }

        }
    }
    .foo{
        flex-direction: column;
        margin: auto;

        &ter{
            flex-direction: row;
        }
    }
}